h1 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:red;
  }
  
  h1 em {
    color:blue;
  }
  
  .vb {
    color: lightgreen;
  }
  
  h3 > p {
    color:pink;
  }
  
  p + div {
    color:brown;
  }
  
  h3 ~ p {
    color: blue;
  }