    /*opdracht1*/
    .image {
    height: 400px * 2;
    width: auto;
   }
/*2*/
   .image {
    height: 400px + 100;
    width: auto;
   }

   /*3*/
   .image {
    height: 400px - 300px;
    width: auto;
   }
/*4*/
   .image {
    height: 200px + 100px - 400px;
    width: auto;
   }
   /*5*/
   .image {
    height: 200px * 3;
    width: auto;
   }
/*6*/
   .image {
    height: 750px * 1;
    width: auto;
   }
/*7*/
   .image {
    height: 30px / 5px;
    width: 24px/ 4;
   }
   /*8*/
   .image {
    height: (30px / 5px);
    width: (24px/ 4);
   }
   