.box1 {
    display:block;
    background-color: red;
    margin: 10px;
    padding: 15px;
    border:solid 3px green;

}

.box2 {
    display:block;
    background-color: red;
    margin: 20px;
    padding: 20px;
    border: dotted 10px blue;
}

.box3 {
    display:block;
    background-color: red;
    margin: 1px;
    padding: 20px;
    border: solid 20px black;
}

.box4 {
    display:block;
    background-color: red;
    margin: 50px;
    padding: 20px;
}

.box5 {
    display:block;
    background-color: red;   
    margin: 100px;
    padding: 10px;

}