.container1 {
    display:flex;
    height: 8em;
    width: 12em;
    flex-wrap:wrap;
    flex-direction: row;
    align-items: center;
    
    
}

.container1 > div { 
    padding: 1.5em;
    border: 1px solid;
    border-radius: 5px;;
}
