@import 'variables';

.footer {
    background-color: $background-color;
    border-top: 1px solid white;
    color: $text-color;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display:flex;
    margin-top:1000px;
}

.column {
    background-color: $background-color;
    color: $text-color;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:small;
    flex:25%;
    padding: 2px;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}