@import 'variables';

.navbar {
    background-color: $background-color;
    font-size: 20px;
    font-family: $font-family;     
    .active {
        color:$color1;
    }
    .nav-link {
        color: $color2;
    }
    
    .container-fluid {
        display:flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-end;
        margin: 10px;
    }
}

@media (max-width: 480px) {
    .navbar {
        font-size: 11px;
    }
}
